doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='description', content='Welcome')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		title Welcome
		include ../../components/link-style/index
	body
		include ../../components/wx-pic/index
		include ../../components/nav/index
		include ../../components/link-js/index
