.banner
	background-color CHOCOLATE
	padding 60px 30px
	background-image url('../images/banner_bg.png')
	background-repeat repeat
	background-position center center
	@media MOBILE
		padding 30px 20px
		background-size 25px
	.banner-title
		font-family 'HelveticaNeueLTPro-ThEx' !important
		font-size 60px
		line-height 80px
		text-align center
		color THEME_RED
		@media MOBILE
			font-size 26px
			line-height 40px
	.banner-info
		font-size 30px
		line-height 50px
		margin 0px
		text-align center
		color GRAY_E3
		@media MOBILE
			font-size 14px
			line-height 20px
	.banner-info2
		font-size 16px
		line-height 50px
		margin 0px
		text-align center
		color GRAY_E3
		@media MOBILE
			font-size 10px
			line-height 20px
.row
	@media MOBILE
		margin 0px -9px
.col-xs-6, .col-xs-12, .col-xs-3, .col-xs-9
	@media MOBILE
		padding-left 6px
		padding-right 6px
.features
	margin-top COMMON_SPACE*2
	@media MOBILE
		margin-top COMMON_SPACE_MOBILE*2
	.feature-title
		text-align center
		font-size 30px
		color THEME_RED
		@media MOBILE
			font-size 20px
	.feature-text
		font-size 16px
		color GRAY_33
		text-align center
		margin-bottom COMMON_SPACE
		@media MOBILE
			font-size 12px
			margin-bottom COMMON_SPACE_MOBILE

.section-title
	margin-top COMMON_SPACE
	text-align center
	position relative
	@media MOBILE
		margin-top COMMON_SPACE_MOBILE
	.title-text
		font-size 30px
		line-height 60px
		@media MOBILE
			font-size 20px
			line-height 40px
	.title-line
		position absolute
		height 1px 
		width auto
		left 15px
		right 15px
		background-color GRAY_E3
		bottom 0px
		@media MOBILE
			left 12px
			right 12px
		.title-line-deco
			width 100px
			height 2px
			position absolute
			left 50%
			margin-left -50px
			background-color THEME_RED
			.title-line-arrow
				position absolute
				width 0
				height 0
				border-color transparent
				border-style solid
				bottom -5px
				left 45px
				border-width 5px 5px 0
				border-top-color THEME_RED
.npm-packages
	margin-top COMMON_SPACE
	@media MOBILE
		margin-top COMMON_SPACE_MOBILE
	.package-item
		margin-bottom COMMON_SPACE
		@media MOBILE
			margin 6px -6px  !important
		.package-logo
			width auto
			display block
			height auto
			background-color THEME_RED
			img
				width 100%
				height auto
		.package-text
			padding-left 0px !important
			@media MOBILE
				padding-left 4px !important
			.package-title
				font-size 18px
				color GRAY_33
			.package-content
				font-size 14px
				color GRAY_66



