.container-fluid.banner
	.banner-title FrontendBoilerplate
	.banner-info 使用CoffeeScript/Jade/Stylus组合，基于Gulp的前端构建框架
	.banner-info2 让前端代码的编写更优雅、简单，让多尺寸屏幕设备的响应式页面开发更高效、便捷
.container.features
	.row
		.col-md-3.col-xs-6
			.feature-title 模块化
			.feature-text 页面元素按模块独立编写代码，便于分工协作和响应式代码的处理
		.col-md-3.col-xs-6
			.feature-title 自动刷新
			.feature-text 使用tiny-lr插件，自动编译被改动的代码并在局域网范围内自动刷新
		.clearfix.visible-xs-block
		.col-md-3.col-xs-6
			.feature-title For Github
			.feature-text 基于Node.js的架构天然亲和使用最广泛的版本控制工具Github
		.col-md-3.col-xs-6
			.feature-title 跨平台
			.feature-text 继承了Node.js跨平台特性，可在多种主流系统上进行前端构建开发
.container.section-title
	.title-text 使用的工具&组件
	.title-line
		.title-line-deco
			.title-line-arrow
.container.npm-packages
	.row
		.col-md-4.col-xs-12
			.feature-title 模块化
			.feature-text 页面元素按模块独立编写代码，便于分工协作和响应式代码的处理
		.col-md-4.col-xs-12
			.feature-title 自动刷新
			.feature-text 使用tiny-lr插件，自动编译改动的内容并刷新同一局域网内的页面
		.clearfix.visible-xs-block
		.col-md-4.col-xs-12
			.feature-title For Github
			.feature-text 基于Node.js的架构天然亲和使用最广泛的版本控制工具Github