.container-fluid.banner
	.banner-title FrontendBoilerplate
	.banner-info 使用CoffeeScript/Jade/Stylus组合，基于Gulp的前端构建框架
	.banner-info2 让前端代码的编写更优雅、简单，让多尺寸屏幕设备的响应式页面开发更高效、便捷
.container.features
	.row
		.col-md-3.col-xs-6
			.feature-title 模块化
			.feature-text 页面元素按模块独立编写代码，便于分工协作和响应式代码的处理
		.col-md-3.col-xs-6
			.feature-title 自动刷新
			.feature-text 使用tiny-lr插件，自动编译被改动的代码并在局域网范围内自动刷新
		.clearfix.visible-xs-block
		.col-md-3.col-xs-6
			.feature-title For Github
			.feature-text 基于Node.js的架构天然亲和使用最广泛的版本控制工具Github
		.col-md-3.col-xs-6
			.feature-title 跨平台
			.feature-text 继承了Node.js跨平台特性，可在多种主流系统上进行前端构建开发
.container.section-title
	.title-text 使用的工具&组件
	.title-line
		.title-line-deco
			.title-line-arrow
.container.npm-packages
	.row
		.col-md-4.col-xs-12
			.row.package-item
				.col-xs-3
					.package-logo
						img(src = 'images/package_logo_01.jpg')
				.col-xs-9.package-text
					.package-title Node.js
					.package-content Node.js是一个基于Chrome JavaScript运行时建立的平台， 用于方便地搭建响应速度快、易于扩展的网络应用。Node.js 使用事件驱动， 非阻塞I/O 模型而得以轻量和高效，非常适合在分布式设备上运行的数据密集型的实时应用
		.col-md-4.col-xs-12
			.row.package-item
				.col-xs-3
					.package-logo
						img(src = 'images/package_logo_02.jpg')
				.col-xs-9.package-text
					.package-title Gulp
					.package-content Gulp是一个构建系统，开发者可以使用它在网站开发过程中自动执行常见任务。前端开发工程师可以用自己熟悉的语言来编写任务去压缩图片、编译JavaScript和CSS、解析模板以及在文件变动时编译LESS/SASS/STYLUS文件
		.col-md-4.col-xs-12
			.row.package-item
				.col-xs-3
					.package-logo
						img(src = 'images/package_logo_03.jpg')
				.col-xs-9.package-text
					.package-title Jade
					.package-content Jade是一款JavaScript实现的高性能模板引擎，可运行在Node和浏览器环境。Jade使用具有语法意义的缩进，写法简介，可读性高，默认代码转义以提高安全性，在编译和运行时提供上下文错误报告，支持属性改写和静态包含
		.clearfix.visible-xs-block
		.col-md-4.col-xs-12
			.row.package-item
				.col-xs-3
					.package-logo
						img(src = 'images/package_logo_04.jpg')
				.col-xs-9.package-text
					.package-title Stylus
					.package-content Stylus是一款可以高效、动态和语义化的生成CSS的革命性语言，它深受SASS的启发，使用具有语法意义的缩进，支持原生CSS样式，具有变量、插值、运算符、方法、混合书写等特性
		.col-md-4.col-xs-12
			.row.package-item
				.col-xs-3
					.package-logo
						img(src = 'images/package_logo_05.jpg')
				.col-xs-9.package-text
					.package-title CoffeeScript
					.package-content CoffeeScript是一套JavaScript的转译语言，创建者 Jeremy Ashkenas 戏称它是- JavaScript 的不那么铺张的小兄弟。因为 CoffeeScript 会将类似 Ruby 语法的代码编译成 JavaScript，而且大部分结构都相似，但不同的是 CoffeeScript 拥有更严格的语法
		.col-md-4.col-xs-12
			.row.package-item
				.col-xs-3
					.package-logo
						img(src = 'images/package_logo_06.jpg')
				.col-xs-9.package-text
					.package-title Backbone.js
					.package-content Backbone 为复杂Javascript应用程序提供模型、集合、视图的结构。其中模型用于绑定键值数据和自定义事件；集合附有可枚举函数的丰富API； 视图可以声明事件处理函数，并通过RESTful JSON接口连接到应用程序