.banner
	background-color CHOCOLATE
	padding 60px 0px
	background-image url('../images/banner_bg.png')
	background-repeat repeat
	background-position center center
	@media MOBILE
		padding 30px 0px
		background-size 25px
	.banner-title
		font-family 'HelveticaNeueLTPro-ThEx' !important
		font-size 80px
		line-height 100px
		text-align center
		color #ffffff
		@media MOBILE
			font-size 30px
			line-height 40px
	.banner-info
		font-size 30px
		line-height 80px
		margin 0px
		text-align center
		color GRAY_E3
		@media MOBILE
			font-size 12px
			line-height 20px
.features
	margin-top COMMON_SPACE*2
	@media MOBILE
		margin-top COMMON_SPACE_MOBILE*2
	.row
		@media MOBILE
			margin 0px -9px
	.feature-title
		text-align center
		font-size 30px
		color THEME_RED
		@media MOBILE
			font-size 20px
	.feature-text
		font-size 16px
		color GRAY_33
		text-align center
		margin-bottom COMMON_SPACE
		@media MOBILE
			font-size 14px
	.col-xs-6
		padding-left 6px
		padding-right 6px