.container-fluid.banner
	.banner-title FrontendBoilerplate
	.banner-info 使用CoffeeScript/Jade/Stylus组合，基于Gulp的前端构建框架
.container.features
	.row
		.col-md-3.col-xs-6
			.feature-title 模块化
			.feature-text 页面元素按模块独立编写代码，便于分工协作和响应式代码的处理
		.col-md-3.col-xs-6
			.feature-title 自动刷新
			.feature-text 使用tiny-lr插件，自动编译改动的内容并刷新同一局域网内的页面
		.col-md-3.col-xs-6
			.feature-title For Github
			.feature-text 基于Node.js的架构天然亲和使用最广泛的版本控制工具Github
		.col-md-3.col-xs-6
			.feature-title 跨平台
			.feature-text 继承了Node.js跨平台特性，可在各种主流系统上进行前端构建开发