.footer
	width 100%
	height auto
	padding COMMON_SPACE 0
	background-color GRAY_F5
	border-top 1px solid GRAY_E3
	font-size 14px
	color GRAY_66
	line-height 20px
	margin-top COMMON_SPACE
	text-align center
	@media MOBILE
		font-size 12px
		margin-top COMMON_SPACE_MOBILE
		padding COMMON_SPACE_MOBILE 0
		line-height 16px